<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./css/style.css">
        <script src="https://kit.fontawesome.com/99d6ad452c.js" crossorigin="anonymous"></script>
        <title>tuTienda</title>
    </head>
    <body>
        <header class="header" id="data-header">
            <a href="">
                <img class="logo" src="./assets/logo.png" alt="logo">
            </a>

            <div class="list-icons">
                <i class="icons hidden fas fa-bars"></i>
                <i class="icons fas fa-toggle-on"></i>
                <i class="icons fas fa-bell" id="notification"></i>
                <i class=" icons fas fa-shopping-cart" id="cart"></i>
            </div>

        </header>
        <div class="banner">
            <img class="banner-img" src="./assets/banner.png" alt="banner">
        </div>

        <main class="content-main" id="data-main">
            <div class="cont-title">
                <h1 class="title border">Lis</h1>
                <h1 class="title">ta de ofertas</h1>
            </div>
            <section class="cont-product" id="list-product">
                <template id="template">
                    <a href="#" class="card" id="card">
                        <img class="image-card">
                        <div class="info">
                            <h2></h2>
                            <h3></h3>
                            <div class="hola">
                                
                                <p class="pa">
                                </p>
                            </div>
                            <button class="btn"></button>
                        </div>
                    </a>
                </template>
            </section>
        </main>
        <footer class="footer">
            <section class="footer-articles">
                <h4></h4>
            </section>
        </footer>

        <script src="/js/db.js" type="module"></script>
        <script src="/js/header.js" type="module"></script>
        <script src="/js/index.js" type="module"></script>
        <script src="/js/script.js" type="module"></script>
    </body>
</html>